body {
  background: #fbaa99;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#text {
  font-size: 50px;
  margin: 20px;
}

button {
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.yesButton {
  font-size: 40px;
  background-color: #04AA6D;
}

.noButton {
  font-size: 40px;
  background-color: #f44336;
}

.kissrabit-img {
  width: 70vw;
  max-width: 700px;
}

.celebrate-img {
  width: 70vw;
  /* 70% of screen width */
  max-width: 700px;
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
  }
}