body {
  background: #fbaa99;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#text {
  font-size: 50px;
  margin: 20px;
}

button {
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.yesButton {
  font-size: 40px;
  background-color: #04AA6D;
}

.noButton {
  font-size: 40px;
  background-color: #f44336;
}

.kissrabit-img {
  width: 70vw;
  max-width: 700px;
}

.celebrate-img {
  width: 70vw;
  /* 70% of screen width */
  max-width: 700px;
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.1);
  }
}

.phone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
}


.phone-frame {
  width: 600px;
  display: block;
}

.chat-screen {
  position: absolute;
  top: 15%;
  left: 16%;
  width: 68%;
  height: 70%;

  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 12px;
}




@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-bubble {
  padding: 12px 16px;
  border-radius: 20px;
  max-width: 75%;
  word-wrap: break-word;
  animation: fadeIn 0.3s ease;

}

/* ฝั่งซ้าย */
.chat-left {
  align-self: flex-start;
  background: #e5e5ea;
  color: black;
}

/* ฝั่งขวา */
.chat-right {
  align-self: flex-end;
  background: #04AA6D;
  color: white;
}