body {
  background: #fbaa99;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#text {
  font-size: 24px;
  margin: 20px;
}

button {
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.yesButton {
  background-color: #04AA6D;
}

.noButton {
  background-color: #f44336;
}